<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <capabilities>
    <add key="browserName" value="android" xdt:Transform="Insert"/>
    <add key="platform" value="Android" xdt:Transform="Insert"/>
    <add key="device" value="Samsung Galaxy S5" xdt:Transform="Insert"/>
  </capabilities>
  <viewport>
    <add key="size" value="360x640" xdt:Transform="Insert" />
  </viewport>
</configuration>